*{
   margin: 0%;
   padding: 0;
   box-sizing: border-box;
}

.main{
    display: flex;
}

.store-list{
    height: 100vh;
    width: 30%;
    overflow: auto;
    background-color: rgba(255, 251, 238, 0.386);
}

#map{
    height: 100vh;
    width: 100%;
     position: relative;
}

.store-list .heading{
    height: 8%;
    background-color: #ff9800;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 1rem;
}

::-webkit-scrollbar {
  width: 4px;   /* vertical */
  height: 8px;   /* horizontal */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff9800; /* orange */
  border-radius: 10px;
  
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff6b1c; /* darker orange */
}

.store-list ul.list {
    padding: 0 1rem;
    list-style-type: none;

}

.store-list .shope-item {
    margin: 1rem 0;
    border-bottom: 1px solid rgba(163, 163, 163, 0.388);
    padding-bottom: 1rem;
} 

.store-list li:last-child .shope-item{
    border: none;
}

.store-list .shope-item a{
    text-decoration: none;
    font-size: 20px;
    color: #ff9800;
    font-weight: 700;
}

.store-list .shope-item p{
    font-size: 14px;
    color: #404040;
}

.leaflet-popup-content-wrapper{
    padding: 0%;
    overflow: hidden;
}

.leaflet-popup-content-wrapper .leaflet-popup-content{
    margin: 0;

}

.leaflet-popup-content-wrapper h4{
   padding: 16px;
   background: #ff9800;
   color: #fff;
   font-size: 16px;
}

.leaflet-popup-content-wrapper p{
   padding: 0 16px;
   font-size: 14px;
   margin-bottom: 14px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .phone-number{
    padding: 16px;
    padding-top: 0;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .phone-number a{
   color: #ff9800;
   font-size: 14px;
}



.location-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: background 0.2s ease;
}

.location-btn:hover {
  background: #f0f0f0;
}

.location-btn svg {
  width: 22px;
  height: 22px;
  color: #ff6600; /* orange icon */
}






.op-data {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 1001;
}

.category-tab {
  background-color:#ff9800;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  position: relative;
}

.category-tab.active {
  background-color: white;
  color: #ff9800;
  padding-right: 25px; /* space for X */
}

.close-btn {
  position: absolute;
  top: 3px;
  right: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #ff9800;
}
